<?xml version="1.0" encoding="utf-8"?>
<Context docBase="/opt/spin/shibboleth/shibboleth-idp/shibboleth-idp-{{ idp.version }}/war/idp.war"
  privileged="true"
  antiResourceLocking="false"
  antiJARLocking="false"
  unpackWAR="false"
  swallowOutput="true"
  reloadable="true">

  <Resource name="jdbc/SPIN_IDP"
    auth="Container"
    type="javax.sql.DataSource"
    driverClassName="org.mariadb.jdbc.Driver"
    url="jdbc:mysql://localhost:3306/{{ db.name }}?useUnicode=yes&amp;characterEncoding=UTF-8"
    username="{{ db.idp_username }}"
    password="{{ idp_db_password }}"
    maxActive="20"
    maxIdle="10"
    maxWait="10000"
    validationQuery="select 1 from dual"
    testOnBorrow="true"
    factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
    jmxEnabled="true"
  />

</Context>
