<%- if @invitation.active_project_present? -%>
  <p>
    You have been invited to the <strong><%= @invitation.project_name %></strong> project.
  </p>
<%- else -%>
  <p>
    This service provides access to AWS Projects. You have been invited to login to be a part of future projects.
  </p>
<%- end -%>
