<%=
    breadcrumbs(
        {'Organisations' => organisations_path},
        {'Projects' => organisation_projects_path(@organisation)},
        'Project Roles'
    )
%>

<%= create_list_header("Roles for project #{@project.name}", organisation_project_roles_path(@organisation, @project), 'Filter on Name') %>

<div class="ui hidden divider"></div>

<%= smart_listing_render(:project_role) %>