<%=
    breadcrumbs(
        {'Organisations' => organisations_path},
        {'Projects' => organisation_projects_path(@organisation)},
        {'Project Roles' => organisation_project_roles_path(@organisation, @project)},
        @project_role.name

    )
%>

<%= create_list_header("Users for role #{@project_role.name}",
                       organisation_project_role_path(@organisation, @project, @project_role), 'Filter on Name') %>

<div class="ui hidden divider"></div>

<%= smart_listing_render(:project_role_show) %>