<%= page_header('No projects assigned') %>

<%= divider_tag %>
<div class="ui grid">

  <div class="eight wide column">
    <%= error_message('You must have a project assigned to continue') do -%>
    <%- end -%>

    <%= raw support_html %>


  </div>
</div>

