User Consent
============

This is an example user consent.

Please edit and place in config/consent.md

Please format this file using [markdown syntax](http://daringfireball.net/projects/markdown/syntax)
