---
url: 'https://rapid.test.aaf.edu.au/jwt/authnrequest/research/9gy6V8AJnz5W2K_P2FDbGw'
secret: "&QP\\H,A&?DSp48TMU[H\'VF1+wG>k[(aV"
issuer: 'https://rapid.test.aaf.edu.au'
audience: 'http://localhost:8080'
