Support
============

This is the example support text.

Please edit and place in config/support.md

Please format this file using [markdown syntax](http://daringfireball.net/projects/markdown/syntax)
