<%= page_header('SPIN - Unauthorized') %>

<%= error_message('Unauthorized') do -%>
  <p>
    Oops, your account is no longer available for use, so we can't continue
    doing what you were trying to do. Sorry about that.
  </p>


<%- end -%>

<%= raw support_html %>
