<%=
    breadcrumbs(
        {'Administration' => dashboard_path},
        'Users'
    )
%>

<%= create_list_header("Users", subjects_path, 'Filter on Name') %>

<div class="ui hidden divider"></div>

<%= smart_listing_render(:subject) %>