<%=
    breadcrumbs(
        {'Organisations' => organisations_path},
        {'Projects' => organisation_projects_path(@organisation)},
        {'Project Roles' => organisation_project_roles_path(@organisation, @project)},
        {@project_role.name => organisation_project_role_path(@organisation, @project, @project_role)},
        'Add User'
    )
%>

<%= create_list_header("Grant project role '#{@project_role.name}'",
                       new_organisation_project_role_member_path(@organisation, @project, @project_role), 'Filter on Name') %>

<div class="ui hidden divider"></div>

<%= smart_listing_render(:subject_project_role) %>