<%=
    breadcrumbs(
        {'Organisations' => organisations_path},
        'Projects'
    )
%>

<%= create_list_header("Projects for #{@organisation.name}", organisation_projects_path(@organisation), 'Filter on Name') %>

<div class="ui hidden divider"></div>

<%= smart_listing_render(:projects_admin) %>
