<div class="ui grid">
  <div class="ten wide column">
    <%= page_header(header) %>
  </div>
  <div class="six wide middle right aligned column">
    <div class="ui form">
      <%= form_tag(path, method: :get) do |f| %>
            <div class="ui action input">
              <input autocomplete="off" id="filter" name="filter"
                     placeholder="<%= placeholder %>"
                     type="text" value="<%= @filter %>">

                <button class="tiny ui labeled button" name="button">
                  <i class="filter icon"></i>
                  Update Filter
                </button>
            </div>
      <% end %>
    </div>
  </div>
</div>